body {
  background-image: url("../img/Forest2.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.main_div {
  display: -ms-grid;
  display: grid;
}

.main_text {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.animals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (634px)[3];
  grid-template-columns: repeat(3, 634px);
  margin-top: 10%;
}

.animal:nth-child(3) {
  margin-top: 90px;
}

.animal:nth-child(2) {
  margin-left: 230px;
  margin-top: 220px;
}

.animal:nth-child(1) {
  margin-left: 300px;
  margin-top: 60px;
}