@font-face {
  font-family: Bionicle training card;
  src: url("../fonts/bionicle-training-card-font-2-4.ttf");
}
body {
  user-select: none;
  overflow: hidden;
  background-color: rgb(34, 41, 32);
}
.main_div {
  position: relative;
}
.background {
  position: absolute;
  z-index: 2;
}
.background2,
.background3 {
  display: none;
  position: absolute;
  z-index: 2;
}

.animals_container {
  position: absolute;
  z-index: 20;
  width: 100%;
}
.animals {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
  padding-right: 13%;
  padding-left: 6%;
}
.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container:nth-child(2) {
  margin-top: 180px;
  margin-left: 4%;
}
.container:last-child {
  margin-top: -30px;
}
.main_text {
  text-align: center;
  margin-top: 19vh;
}
.main_text:hover {
  filter: drop-shadow(0px 0px 10px wheat);
}
.text_above_anim {
  opacity: 0;
  width: 211px;
  background-color: white;
  text-align: center;
  font-family: Bionicle training card;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 20px;
  border: dashed rgb(1, 120, 39) 3px;
  margin: -60px auto 0 auto;
  transition: all 50ms linear;
}
.text_above_anim:nth-child(3) {
  padding-left: 26px;
}
.animal {
  transition: all 50ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fox {
  a {
    padding-right: 25px;
    margin-right: unset;
  }
}
.animal:hover {
  filter: drop-shadow(0px 0px 10px wheat);
  scale: 1.02 1.02;
  .container {
    position: relative;
  }
  .text_above_anim {
    opacity: 1;
  }
}
@media (max-width: 1710px) {
  .background {
    display: none;
  }
  .background2 {
    display: block;
  }
  .background3 {
    display: none;
  }
}
@media (max-width: 1530px) {
  .background {
    display: none;
  }
  .background2 {
    display: none;
  }
  .background3 {
    display: block;
  }
}
@media (max-height: 900px) {
  .animals {
    margin-top: 15vh;
  }
}
@media (max-height: 850px) {
  .animals {
    margin-top: 13vh;
  }
}
@media (max-height: 780px) {
  .animals {
    margin-top: 8vh;
  }
}
@media (max-height: 690px) {
  .main_text {
    margin-top: 11vh;
  }
}
